!build/hover.hex
.pio/
.pio_core/
.pioenvs/
.vscode/
MDK-ARM/DebugConfig/
MDK-ARM/Listing/
MDK-ARM/Objects/
MDK-ARM/RTE/
MDK-ARM/*.uvguix.*
build/
*.tar.gz
admin-go/main
admin-go/uploads/
admin-vue/dist
admin-vue/node_modules
